<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="projekt_zal"
        version="1.0.0">

    <name>Gdzie zaparkowałem samochów</name>
    <description>Aplikacja ułatwia zlokalizowanie pojazdu na wielkich parkingach centr handlowych</description>
    <author href="//github.com/tmAsm2017" email="tomasz.maj@microsoft.wsei.edu.pl">
        Tomasz Maj
    </author>
    <platform name="android"/>
    <plugin name="cordova-plugin-device" spec="~1.1.4"/>
    <plugin name="cordova-plugin-dialogs" spec="~1.3.1"/>
    <plugin name="cordova-plugin-geolocation" spec="~2.4.2" />
</widget>