#zapisz {
    background-color: #3cbb29;
}

#saved_info {
    border: 2px solid orange;
    margin: 4px 4px 20px;
    padding: 14px;
    border-radius: 6px;
    display: none;
}

#saved_info h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}